* text=auto
*.c text eol=lf
*.h text eol=lf
*.md text eol=lf
*.sh text eol=lf
*.ps1 text eol=crlf
*.bin binary

# Preserve pinned upstream license texts byte-for-byte, including whitespace.
LICENSES/** -whitespace
